{% extends "dashboard/header.html" %}

{% block title %}{{ user.user_name }}{% endblock %}

{% block brand %} 
	<img src ="{{ image }}" class="rounded-circle" alt="Cinque Terre"width=50 height=50> {{ user.user_name }}{% endblock %}

{% block Friendsactive %}active{% endblock %}


{% block content %}
	{{image}}
	<ul>
	{% for transaction in transactions %}
		<li>{{ transaction.title }}</li>
		<ul>
			{% for transdet in transaction.transactiondetail_set.all %}
			{% if transaction.group.group_id != 0 %}
			<li>{{ transdet.user.user_name }} lent {{ transdet.lent }} rupees in the group {{ transaction.group.group_name }}</li>
			{% else %}
			<li>{{ transdet.user.user_name }} lent {{ transdet.lent }} rupees outside any group</li>
			{% endif %}
			{% endfor %}
		</ul>
	{%endfor%}
	</ul>
{% endblock %}