{% extends 'dashboard/header.html' %}

{% block title %}{{ group.group_name }}{% endblock %}

{% block brand %}{{ user.user_name }} in {{ group.group_name }} {% endblock %}

{% block Groupsactive %}active{% endblock %}


{% block content %}
<ul>
	<p>{{ group.group_name }}</p>
		{% for transaction in transactions %}
		<li>{{ transaction.title }}</li>
		<ul>
			{% for transdet in transaction.transactiondetail_set.all %}
			{% if transdet.group.group_id != 0 %}
			<li>{{ transdet.user.user_name }} lent {{ transdet.lent }} rupees in the group {{ transaction.group.group_name }}</li>
			{% else %}
			<li>{{ transdet.user.user_name }} lent {{ transdet.lent }} rupees outside any group</li>
			{% endif %}
			{% endfor %}
		</ul>
	{%endfor%}
</ul>	
{% endblock %}