{% extends 'dashboard/header.html' %}

{% block title %}{{ group.group_name }}{% endblock %}

{% block brand %}{{ user.user_name }} in {{ group.group_name }} {% endblock %}

{% block Groupsactive %}active{% endblock %}


{% block content %}

<a href="">
	<button class="btn btn-secondary float-left ml-5"type="submit">SettleUp</button>
</a>
<a href="{%url 'dashboard:balance' group.group_id%}">
	<button class="btn btn-secondary float-right mr-5">Balances</button>
</a>
<br><br>


<ul>
	{% for k,v in mydict.items%}
		<li>{{k.trans.title}}<br>
			{%if user == v.2%}
				you owe Rs.{{v.0}} to {{v.3}}
			{%elif user == v.3%}
				{{v.2}} owes you Rs.{{v.0}} to you
			{%else%}
				{{v.2}} owes Rs.{{v.0}} to {{v.3}}
			{%endif%}
		</li>
	{%endfor%}
</ul>
{% endblock %}