{% extends "dashboard/header.html" %}

{% block title %}{{ user.user_name }}{% endblock %}

{% block brand %} 
	<img src ="{{ user.dp.url }}" class="rounded-circle" alt="Cinque Terre"width=50 height=50> {{ user.user_name }}{% endblock %}

{% block Friendsactive %}active{% endblock %}


{% block content %}
	<div class="container">
		<div class="card">
			{%for key,value in mydict.items%}
				{%if value > 0%}
					<div class="card-body">
						<h><a href="{% url 'dashboard:friend' key.id %}">{{ key.user_name }}</a></h><br>
						<p>You owe Rs.{{ value }} to {{key}}</p>
					</div>
				{%elif value == 0%}
					<div class="card-body">
						<h><a href="{% url 'dashboard:friend' key.id %}">{{ key.user_name }}</a></h><br>
						<p>{{key}} owes you nothing</p>
					</div>
				{%else%}
					<div class="card-body">
						<h><a href="{% url 'dashboard:friend' key.id %}">{{ key.user_name }}</a></h><br>
						<p>You owe Rs. {{ value }} to {{key}}</p>
					</div>
				{%endif%}
			{%endfor%}
		</div>
	</div>

	<div class="container">
		<div id="accordion" style="margin-top:2%">
		  <div class="card">
			<div class="card-header">
			  <a class="card-link" data-toggle="collapse" href="#collapseOne">
				Add a friend
			  </a>
			</div>
			<div id="collapseOne" class="collapse" data-parent="#accordion">
			  <div class="card-body"style="background-color: #eee;width: 200px;height: 100px;border: 1px dotted black;overflow: scroll;">
					{% for friend in nonfriend %}
						{% if friend.user_name != "admin" %}
							{% if user.user_name != friend.user_name %}
                                <p><a href="{% url 'dashboard:fadd' friend.user_name %}">{{friend.user_name}}</a></p>
                                <!--<p>{{friend.user_name}}</p>-->
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}



